#expertise{
    padding: 2rem;
    /* background: linear-gradient(var(--dark-950), var(--dark-900)); */
}

#card-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}

#expertise .card{
    width: 300px;
    aspect-ratio: 1/1;

    padding: 2rem;
    color: var(--dark-300);
    background-color: var(--dark-950);
    border: 1px solid var(--dark-850);
    border-radius: 10px;
    box-shadow: 5px 5px 50px var(--dark-850);
    position: relative;
    overflow: hidden;
    transition: all 200ms;
}

#expertise .card .general-information-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    transition: all 300ms;
}

#expertise .card .general-information-wrapper h3{
    color: var(--dark-100);
}

#expertise .card .more-information-wrapper{
    display: none;
    opacity: 0;
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: var(--dark-950);
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: 0;
}

#expertise .card .more-information-wrapper > p{
    font-size: .90rem;
}

#expertise .card:hover{
    border-color: var(--dark-800);
    transform: translateY(-3px);
}

#expertise .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -16px;
    right: -16px;
    background: var(--magenta);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(3);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
  
#expertise .card:hover::before {
    transform: scale(30);
}

#expertise .card:hover .more-information-wrapper {
    display: flex;
    opacity: 1;
}

#expertise .card:hover .general-information-wrapper {
    display: none;
    opacity: 0;
}

#expertise .card h3{
    font-size: 1.5rem;
    font-family: "TeleNeo Regular";    
    z-index: 10;
}

#expertise .card .general-information-wrapper{
    font-size: 1rem;
    font-family: "TeleNeo Regular";
    color: var(--dark-600);
    z-index: 10;
}

#expertise .card .general-information-wrapper ul{
    padding-left: 1rem;
}

#expertise .card svg{
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 10;
}

#expertise .card .frontend-abstract-element{
    display: grid;
    place-items: center;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: -50%;
    right: -50%;
    border-radius: 100%;
    border: 0;
    padding: 2rem;
    z-index: 0;
}

/* 
#expertise .card .analytics-abstract-element{
    display: grid;
    place-items: center;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: -50%;
    left: -50%;
    border-radius: 100%;
    border: 0;
    padding: 2rem;
    z-index: 0;
}

#expertise .frontend-abstract-element div, #expertise .analytics-abstract-element div{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    padding: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    border: 1px solid var(--dark-800);
}

#expertise .infrastructure-abstract-element{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="none" stroke="%23bcbcbe" stroke-width="2" transform="scale(1,-1)" ><path d="M0 0v90.2C49.7 99.9 105 82 160 65c75.5-23.3 145.5-22.4 222-3 63 16 119 14 173-8 79.5-32.4 156.2-27.6 240-10 82.6 17.4 143-1 205-31.7V0H0Z" fill="%23FFFFFF"></path></svg>');
}

#expertise .backend-abstract-element{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="none" stroke="%23bcbcbe" stroke-width="2"><path d="M0 0v90.2C49.7 99.9 105 82 160 65c75.5-23.3 145.5-22.4 222-3 63 16 119 14 173-8 79.5-32.4 156.2-27.6 240-10 82.6 17.4 143-1 205-31.7V0H0Z" fill="%23FFFFFF"></path></svg>');
} */

/* 
sm: 640px (Small devices like tablets)
md: 768px (Medium devices like small laptops)
lg: 1024px (Large devices like laptops)
xl: 1280px (Extra large devices like desktops)
2xl: 1536px (Larger desktops)
*/

@media only screen and (min-width: 640px) and (max-width: 767px) {
    #expertise{
        padding: 2rem 3rem 2rem 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    #expertise{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    #card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
    #card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #expertise{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
}

@media only screen and (min-width: 1536px) {
    #card-wrapper{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #expertise{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
}
