
.introduction-wrapper {
    padding: 0 0 0 260px;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    height: 100vh;
    width: 100%;
    background-color: var(--dark-950);
    overflow: hidden;
}

.headline-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-wrap: wrap;
    row-gap: 2rem;
    padding: 5rem 0 0 5rem;
}

.headline-h1{
    font-size: 2.6rem;
    margin: 0;
}

.headline-h2{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}

.headline-text{
    font-size: 1.4rem;
    margin: 0;
    font-family: "TeleNeo Medium";
}

.headline-subtext{
    font-size: 1.1rem;
    color: var(--dark-600);
    font-family: "TeleNeo Regular";
}

#description-wrapper{
    font-size: 1.3rem;
    color: lightblue;
    font-family: "TeleNeo Regular";
}

#chip-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 0 1rem;
}

#chip-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.chip{
    border-radius: 5px;
    padding: .4rem .8rem;
    background-color: var(--blue);
    font-size: .95rem;
    font-family: "TeleNeo Regular";
    margin: 0;
}

.shape-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-start: 3;
}

#shape{
    transform: rotate(45deg) translate(10%, -30%);
    height: 150dvh;
    width: 50dvw;
    position: absolute;
    top: 0;
    right: 0;
}

.canvas-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


#clientWrapper{
    padding: 0 5rem 0 calc(260px + 5rem);
}

#box-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    background-color: var(--dark-900);
    border-radius: 10px;
}

.box{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    /* border: 1px solid var(--dark-800); */
}

.box>p{
    margin: 0;
}

.box>p:first-child{
    font-size: 1.8rem;
}

.box>p:nth-child(2){
    font-size: 1rem;
    color: var(--dark-700)
}

.button-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.primary-button, .secondary-button{
    align-items: center;
    border-radius: 0.2499975rem;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    /* height: 2.625rem; */
    justify-content: center;
    padding: 0.3rem 1.2rem;
    text-decoration: none;
    vertical-align: middle;
    font-family: "TeleNeo Medium", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    transition: all 0.3ms;
}

.primary-button-icon{
    background-color: var(--magenta);
    border: 1px solid transparent;
    color: #fff;
    gap: 5px;
    padding-right: 1rem;
}

/* .primary-button{
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.primary-button:hover{
    outline-color: var(--magenta);
}
*/

.secondary-button{
    background-color: white;
    border: 1px solid var(--dark-800);
}
.secondary-button:hover{
    border-color: black;
}