
.introduction-wrapper {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    height: minmax(100vh, fit-content);
    width: 100%;
    background-color: var(--dark-950);
    overflow: hidden;
}

.headline-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-wrap: wrap;
    row-gap: 2rem;
    padding: 1rem;
}

.headline-h1{
    font-size: 2.6rem;
}

.headline-h2{
    font-size: 1.6rem;
    font-weight: 500;
}

.headline-text{
    font-size: 1.4rem;
    margin: 0;
    font-family: "TeleNeo Medium";
}

.headline-subtext{
    font-size: 1.1rem;
    color: var(--dark-600);
    font-family: "TeleNeo Regular";
}

.margin-y-2rem{
    margin: 2rem 0;
}

#description-wrapper{
    font-size: 1.3rem;
    color: lightblue;
    font-family: "TeleNeo Regular";
}

#chip-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 0 1rem;
}

#chip-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.chip{
    border-radius: 5px;
    padding: .4rem .8rem;
    background-color: var(--blue);
    font-size: .95rem;
    font-family: "TeleNeo Regular";
    margin: 0;
}

.shape-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-start: 3;
}

#shape{
    transform: rotate(45deg) translate(10%, -30%);
    height: 150dvh;
    width: 50dvw;
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--dark-300);
}

.introduction-wrapper .canvas-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#box-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    background-color: var(--dark-900);
    border-radius: 10px;
}

.box{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    /* border: 1px solid var(--dark-800); */
}

.box > p{
    margin: 0;
    text-align: center;
}

.box > p:first-child{
    font-size: 1.8rem;
}

.box>p:nth-child(2){
    font-size: 1rem;
    color: var(--dark-700)
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}

.primary-button, .secondary-button{
    align-items: center;
    border-radius: 0.2499975rem;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    /* height: 2.625rem; */
    justify-content: center;
    padding: 0.3rem 1.2rem;
    text-decoration: none;
    vertical-align: middle;
    font-family: "TeleNeo Medium", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    transition: all 0.3ms;
    min-width: max-content;
}

.primary-button-icon{
    background-color: var(--magenta);
    border: 1px solid transparent;
    color: #fff;
    gap: 5px;
    padding-right: 1rem;
}

/* .primary-button{
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.primary-button:hover{
    outline-color: var(--magenta);
}
*/

.secondary-button{
    color: black;
    background-color: white;
    border: 1px solid var(--dark-800);
}

.secondary-button:hover{
    border-color: black;
}

#client-wrapper, #expertise-wrapper{
    padding: 2rem 1rem;
}

#use-cases{
    width: 100%;
    background-color: var(--dark-300);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#use-cases .headline-subtext{
    color: var(--dark-850);
}

.uppercase{
    text-transform: uppercase;
}

#healthcare{
    display: flex;
    gap: 5rem;
}
#healthcare .canvas-container{
    width: 30%;
}
#healthcare-content{
    width: 70%;
}

#healthcare .use-case-image{
    width: 50%;
    aspect-ratio: 2/1;
    filter: invert(.92);
}


#footer{
    padding: 1rem;
    background-color: var(--dark-300);
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}


@media (max-height: 650px) {
    .introduction-wrapper .canvas-container{
        transform: translateY(-15%);
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .headline-wrapper{
        padding: 3rem 0 3rem 3rem;
    }
    #expertise-wrapper{
        padding: 2rem 3rem 2rem 3rem;
    }

    #client-wrapper{
        padding: 2rem 3rem 2rem 3rem;
    }
    .button-wrapper{
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add specific styles if needed */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    #footer{
        padding: 0 5rem 2rem calc(260px + 5rem);
    }
    .introduction-wrapper{
        padding: 0rem 0rem 0rem 260px;
    }
    #expertise-wrapper{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    #client-wrapper{
        padding: 2rem 5rem 2rem calc(260px + 5rem);
    }
    #use-cases{
        padding: 5rem 5rem 5rem calc(260px + 5rem);
    }
    .headline-wrapper{
        padding: 5rem 0 5rem 5rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
    #footer{
        padding: 0 5rem 2rem calc(260px + 5rem);
    }
    .introduction-wrapper{
        padding: 0rem 0rem 0rem 260px;
    }
    #expertise-wrapper{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    #client-wrapper{
        padding: 2rem 5rem 2rem calc(260px + 5rem);
    }
    #use-cases{
        padding: 5rem 5rem 5rem calc(260px + 5rem);
    }
    .headline-wrapper{
        padding: 5rem 0 5rem 5rem;
    }
}

@media only screen and (min-width: 1536px) {
    #footer{
        padding: 0 5rem 2rem calc(260px + 5rem);
    }
    .introduction-wrapper{
        padding: 0rem 0rem 0rem 260px;
    }
    #expertise-wrapper{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    #client-wrapper{
        padding: 2rem 5rem 2rem calc(260px + 5rem);
    }
    #use-cases{
        padding: 5rem 5rem 5rem calc(260px + 5rem);
    }
    .headline-wrapper{
        padding: 5rem 0 5rem 5rem;
    }
}



/* 
    business problem, solution, benefits from this solution
 */


