#contact{
    padding: 1rem;
    background-color: var(--dark-300);
    color: white;
}

#contact > .headline-subtext{
    color: var(--dark-850);
}

#contact-options-wrapper{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* flex-wrap: wrap;
    flex-shrink: 2; */
}

#contact-details{
    gap: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#maps{
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 3/2;
}

.single-details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--dark-600);
    background-color: var(--dark-500);
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.single-details > p{
    margin: 0;
    font-family: "TeleNeo Medium";
    font-size: .9rem;
    line-height: 150%;
}

.single-details > p:nth-child(4){
    color: var(--dark-700);
}

.single-details:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
}

.single-details-title{
    margin: 0;
}

.social-media-contact-option{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: fit-content;
    width: 100%;
    cursor: pointer;
    /* border-bottom: 1px solid var(--dark-600); */
    padding: .5rem 0;
}

.social-media-contact-option > p{
    margin: 0;
    font-size: .8rem;
}

.social-media-contact-option > p:nth-child(3){
    margin-left: auto;
    color: var(--dark-700);
}

.social-media-contact-option > p:nth-child(2){
    font-family: "TeleNeo Medium";
}

.social-media-contact-option:hover > p:nth-child(2){
    text-decoration: underline;
}

.margin-top-auto{
    margin-top: auto;
}

.margin-bottom-auto{
    margin-bottom: auto;
}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){
    #contact{
        padding: 5rem 5rem 3rem calc(260px + 5rem);
    }
    #contact-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 1fr;
    }
}

@media only screen and (min-width: 1280px){
    #contact{
        padding: 5rem 5rem 3rem calc(260px + 5rem);
    }
    #maps{
        width: 100%;
    }
    #contact-details{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 1fr;
    }
}

@media only screen and (min-width: 1536px){
    #contact{
        padding: 5rem 5rem 3rem calc(260px + 5rem);
    }
    #contact-options-wrapper{
        flex-direction: row;
    }
    #maps{
        width: 50%;
    }
    #contact-details{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 1fr;
    }
}