#architecture{
    padding: 2rem 1rem;
}

#architecture .headline-wrapper{
    padding-left: 0;
    padding-bottom: 5rem;
}

#architecture .additional-information-wrapper{
    background-color: var(--dark-900);
    padding: 1rem;
    padding-left: 3rem;
    border-radius: 5px;
    position: relative;
}

#architecture .additional-information-wrapper::after{
    position: absolute;
    top: 1rem;
    left: 1rem;
    content: "";
    mask: url('data:image/svg+xml;utf8,<svg data-icon-name="information-circle" data-style="line" icon_origin_id="20497" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="information-circle" class="icon line" width="24" height="24"><line style="fill: none; stroke: rgb(57, 57, 57); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" y2="8" x2="11.95" y1="8" x1="12.05" id="primary-upstroke"></line><path style="fill: none; stroke: rgb(57, 57, 57); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;" d="M3,12a9,9,0,0,1,9-9h0a9,9,0,0,1,9,9h0a9,9,0,0,1-9,9h0a9,9,0,0,1-9-9Zm9,1v3" id="primary"></path></svg>') center / contain no-repeat;
    width: 1rem;
    height: 1rem;
    background-color: var(--dark-600);
}

#architecture-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

#architecture .use-case-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#image-wrapper img{
    width: 100%;
}

.meta-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-700);
    font-family: "TeleNeo Regular";
    margin: 0 0 1.5rem 0;
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    #architecture{
        padding: 2rem 3rem 2rem 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    #architecture{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
    #architecture{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
}

@media only screen and (min-width: 1536px) {
    #architecture{
        padding: 3rem 8rem 5rem calc(260px + 8rem);
    }
}
