
#sidebar{
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: var(--magenta);
    font-size: 20px;
    font-family: "TeleNeo Bold";
    color: white;
}

#logo-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 100%;
}

#logo-wrapper > img{
    height: 100%;
}

#logo-wrapper > span{
    font-size: 24px;
}

#sidebar .info-text{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--dark-900);
    margin-top: 4rem;
}

#nav-item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nav-item{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    font-family: "TeleNeo Regular";
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--dark-950);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
