#login-background{
    background-color: var(--dark-950);
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
}

#login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    aspect-ratio: 10/11;
    border-radius: 10px;
    background-color: var(--dark-950);
    padding: 1.5rem;
    box-shadow: .1rem .1rem 1rem var(--dark-850);
}

#login-wrapper h1{
    font-size: 1.1rem;
    font-family: "TeleNeo Regular";
}

.login-infotext{
    font-size: .8rem;
    color: var(--dark-700);
    font-family: "TeleNeo Medium";
    /* padding: .5rem; */
    /* background-color: var(--dark-900); */
    border-radius: 5px;
}

#password-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.input-wrapper{
    position: relative;
    height: 35px;    
}

.input-wrapper>input{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--dark-800);
    padding: 5px 10px;
    transition: all 200ms;
}

.input-wrapper>input:focus{
    outline: 0;
    border-color: var(--dark-300);
}

.input-wrapper>input::placeholder{
    color: transparent;
}

.input-wrapper > span{
    font-size: 0.8rem;
    font-family: "TeleNeo Medium";
    color: var(--dark-700);
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 200ms;
    background-color: #fff;
    display: block;
    padding: 0 5px;
}

.input-wrapper:has(>input:focus)>span, .input-wrapper:has(>input:not(:placeholder-shown))>span{
    transform: translate(-10px, -18px) scale(.8);
}

.input-wrapper:has(>input:focus)>span{
    color: var(--dark-300);
}

#error-text-wrapper{
    height: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    font-size: .7rem;
    font-family: "TeleNeo Medium";
}

#button-wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#login-button, #back-button{
    border-radius: 0.2499975rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .7rem;
    font-family: "TeleNeo Medium", sans-serif;
    font-size: .8rem;
    transition: all 0.3ms;
    width: 50%;
    border: 1px solid transparent;
    gap: 5px;
}

#login-button{
    padding: 0.4rem 1rem;
    background-color: var(--magenta);
    color: #fff;
}

#login-button > img{
    height: 15px;
}

#back-button{
    padding: 0.4rem 2rem;
    background-color: transparent;
    border: 1px solid var(--dark-800);
    color: var(--dark-600);
}

