
:root {
  /* --dark-100: #010101;
  --dark-200: #1a1a1c;
  --dark-300: #272729; */
  --dark-100: #0c0c0d;
  --dark-200: #101011;
  --dark-300: #141415;
  --dark-400: #181819;
  --dark-500: #1a1a1c;
  --dark-600: #505052;
  --dark-700: #868688;
  --dark-800: #bcbcbe;
  --dark-850: #e4e4e4;
  --dark-900: #f2f2f3;
  --dark-950: #FFFFFF;

  --magenta: #e20074;
  --blue: #53BAF2;
  --blue-500: #00a5ff;
}

@font-face {
  font-family: 'Inter Thin';
  src: url('assets/fonts/Inter/Inter-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter ExtraLight';
  src: url('assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Light';
  src: url('assets/fonts/Inter/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter ExtraBold';
  src: url('assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'TeleNeo Thin';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-Thin.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-Thin.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Thin Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-ThinItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Regular';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-Regular.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Regular Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-RegularItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Medium';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-Medium.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Medium Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-MediumItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Bold';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-Bold.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Bold Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-BoldItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo ExtraBold';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-ExtraBold.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo ExtraBold Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-ExtraBoldItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Ultra';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-Ultra.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-Ultra.woff') format('woff');
}

@font-face {
  font-family: 'TeleNeo Ultra Italic';
  src: url('assets/fonts/TeleNeo/TeleNeoWeb-UltraItalic.woff2') format('woff2'),
       url('assets/fonts/TeleNeo/TeleNeoWeb-UltraItalic.woff') format('woff');
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TeleNeo Medium";
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: unset;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.margin-y-2rem{
  margin: 2rem 0;
}

.margin-top-1rem{
  margin-top: 1rem;
}

.margin-bottom-1rem{
  margin-bottom: 1rem;
}

.margin-top-2rem{
  margin-top: 2rem;
}

.margin-bottom-2rem{
  margin-top: 2rem;
}

.headline-h1{
  font-size: 2.6rem;
}

.headline-h2{
  font-size: 1.6rem;
  font-weight: 500;
}

.headline-text{
  font-size: 1.4rem;
  margin: 0;
  font-family: "TeleNeo Medium";
}

.headline-subtext{
  font-size: 1.1rem;
  color: var(--dark-600);
  font-family: "TeleNeo Regular";
}

.additional-information-wrapper{
  background-color: var(--dark-900);
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 5px;
  position: relative;
}

.additional-information-wrapper::after{
  position: absolute;
  top: 1rem;
  left: 1rem;
  content: "";
  mask: url('data:image/svg+xml;utf8,<svg data-icon-name="information-circle" data-style="line" icon_origin_id="20497" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="information-circle" class="icon line" width="24" height="24"><line style="fill: none; stroke: rgb(57, 57, 57); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" y2="8" x2="11.95" y1="8" x1="12.05" id="primary-upstroke"></line><path style="fill: none; stroke: rgb(57, 57, 57); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;" d="M3,12a9,9,0,0,1,9-9h0a9,9,0,0,1,9,9h0a9,9,0,0,1-9,9h0a9,9,0,0,1-9-9Zm9,1v3" id="primary"></path></svg>') center / contain no-repeat;
  width: 1rem;
  height: 1rem;
  background-color: var(--dark-600);
}