#confluence{
    padding: 2rem 1rem;
}

#confluence .headline-wrapper{
    padding-left: 0;
    padding-bottom: 8rem;
    gap: 4rem;
}

#confluence .headline-subtext{
    font-size: 1.3rem;
}

#image-wrapper img{
    width: 100%;
}

.meta-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-700);
    font-family: "TeleNeo Regular";
    margin: 0 0 1.5rem 0;
    font-size: 1.3rem;
}

.meta-information > a{
    text-decoration: none;
    color: var(--blue-500);
    cursor: pointer;
    position: relative;
    transition: all 100ms;
}

.meta-information > a:hover{
    color: var(--blue);
    text-decoration: underline;
}

.meta-information > a::after{
    display: none;
    position: absolute;
    top: 5px;
    right: -20px;
    content: '';
    mask: url('data:image/svg+xml;utf8,<svg style="transform: rotate(-45deg)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>') center / contain no-repeat;
    width: 15px;
    height: 15px;
    background-color: var(--blue-500);
    transition: transform 200ms;
}

.meta-information > a:hover::after{
    transform: translateY(-3px);
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    #confluence{
        padding: 2rem 3rem 2rem 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .meta-information > a::after{
        display: block;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    #confluence{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    .meta-information > a::after{
        display: block;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
    #confluence{
        padding: 3rem 5rem 5rem calc(260px + 5rem);
    }
    .meta-information > a::after{
        display: block;
    }
}

@media only screen and (min-width: 1536px) {
    #confluence{
        padding: 3rem 8rem 5rem calc(260px + 8rem);
    }
    .meta-information > a::after{
        display: block;
    }
}
